<app-nav></app-nav>

<body>
    
    <div class="container">
      <h1>About me</h1>
      <div class="row">
        <div class="col-sm-3">
          <img src="" alt="my pic">
        </div>
        <div class="col-sm-9">
          <p>
            Hi, I am Joseph Moeletsi Digoro from Soshanguve, Gauteng, South Africa. I am a Full-Stack Developer and Photographer. <br>
            I started working as a Full Stack Developer in December 2021 at The Digital Academy after studying Software Development at Tshwane University of Technology.
            I work well in a group and also individually. I have good interpersonal, problem solving skill, good communication skill, good analystical skill.

          </p>

        </div>
      </div> <hr>

      <h1>Skills</h1>

      <div class="row">
        <div class="col-sm">
          <img src="../../assets/html.png" alt="">
          <h5>HTML</h5>

        </div>
        <div class="col-sm">
          <img src="../../assets/javascript.png" alt="">
          <h5>JavaScript</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/angular.png" alt="">
          <h5>Angular2+</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/c++.png" alt="">
          <h5>C++</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/css.png" alt="">
          <h5>CSS</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/postgres.png" alt="">
          <h5>PostgreSQL</h5>
        </div>
      </div>
      <br> <br>

      <div class="row">
        <div class="col-sm">
          <img src="../../assets/node.png" alt="">
          <h5>NodeJS</h5>
        </div>
        <div class="col-sm">
          <img src="../../assets/git.png" alt="">
          <h5>Git</h5>

        </div>
        <div class="col-sm">
          <img src="../../assets/cisco.png" alt="">
          <h5>Network +</h5>
        </div>
       
      </div>

      <hr>



      <h1>Education & Certifications</h1>

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4>Tshwane University of Technology</h4>
          </div>

          <div class="col-sm-8">
            <h5>National Diploma in Software Development</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2018 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
            <p></p>
          </div>
        </div>


      <div class="row">  
        <div class="col-sm-4">
          <h4>Cisco</h4>
        </div>

        <div class="col-sm-8">
          <h5>Introduction to Networking</h5> 
          <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2021 </h6>
        </div>
      </div>
      <hr>

      <h1>Work Experience</h1>
      

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4>The Digital Academy</h4>
          </div>

          <div class="col-sm-8">
            <h5>Full-Stack Developer</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2021 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-4">
            <h4>JAM Clothing</h4>
          </div>

          <div class="col-sm-8">
            <h5>Stockroom Merchandiser</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2016 - Jan 2018</h6>
          <br>
            <h5>Store Assistant</h5>
            <h6 class="w3-text-blue "><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2014 - Apr 2016</h6>
          </div>
        </div>
      </div>

      
      
    
      </div>
    </div>
 
    <hr>
    
  <br>
  
    
</body>
  
<app-footer></app-footer>
    