
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}


img{
    filter: saturate(50%);
}

h1{
    font-size: 50px;
    font-family: Georgia;
    padding-left: 2rem;
    color: white;
    text-align: center;
}

body{
    background-color: black;
    margin-top: 0%;
}

#right{
    border-left: solid grey;
}

.container{
    color:white;
}

.col-sm-9{
    text-align: center;
}
img{
    height: 100px;
}

.col-sm{
    text-align: center;
}
.col-sm-8{
    border-left: solid grey;
}